@model List<PessoaModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Adicionar">Adicionar novo contato</a>
    </div>
    <br/>

    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
           @if(Model != null && Model.Any())
           {
                foreach (PessoaModel pessoa in Model)
                {
                    <tr>
                        <th scope="row">@pessoa.Id</th>
                        <td>@pessoa.Nome</td>
                        <td>@pessoa.Endereco</td>
                        <td>@pessoa.Telefone</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@pessoa.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@pessoa.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }             
            }

        </tbody>
    </table>

</div>

